
mixin trust-en(data)
    section.trust
        .trust__container.container
            h2.trust__title.title.title_reg We are <span>trusted</span>
            ul.trust__list
                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-1@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-1@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-1@2x.png" width="164" height="48" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-bonduelle@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-bonduelle@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-bonduelle@2x.png" width="119" height="47" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-4@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-4@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-4@2x.png" width="159" height="34" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-mexx@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-mexx@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-mexx@2x.png" width="119" height="35" )



                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-3@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-3@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-3@2x.png" width="128" height="35" )


                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-metro@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-metro@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-metro@2x.png" width="119" height="31" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-nike@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-nike@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-nike@2x.png" width="119" height="31" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-14@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-14@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-14@2x.png" width="102" height="36" )


                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-beyosa@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-beyosa@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-beyosa@2x.png" width="171" height="65" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-5@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-5@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-5@2x.png" width="92" height="38" )

                li.trust__item
                    picture.trust__logo
                        source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/partners-2@2x.webp")
                        source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/partners-2@2x.png")
                        img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Image", data-src="static/img/content/partners-2@2x.png" width="161" height="35" )
